<h1>Pirate!</h1>
  <div class="pirate">
  <h3>Name: <%= @pirate.name %> </h3>
  <h4>Weight: <%= @pirate.weight %> pounds</h4>
  <h4>Height: <%= @pirate.height %> inches</h4>
  </div><br>

<h1>Ships!</h1><br>
<h2>Ship One</h2>
<% @ships.each.with_index do |ship, index| %>
  <div class="ship">
    <% if index == 0 %>
    <h3>Name: <%= ship.name%></h3>
    <h4>Type: <%= ship.type %></h4>
    <h4>Booty: <%= ship.booty %></h4>
    <% end %>
  <% end %>
  </div><br>

<h2>Ship Two</h2>
<% @ships.each.with_index do |ship, index| %>
  <div class="ship">
    <% if index == 1 %>
    <h3>Name: <%= ship.name%></h3>
    <h4>Type: <%= ship.type %></h4>
    <h4>Booty: <%= ship.booty %></h4>
    <% end %>
  <% end %>
  </div><br>



